<div class="container">

<h2>Impressum</h2>
<h4>Angaben gemäß § 5 TMG:</h4>
<p><br><em>Florian Ernst</em></p>
<h4><b>Postanschrift:</b></h4>
<p><em>Landsberger Straße 37<br>04157 Leipzig<br></em></p>
<h4><b>Kontakt:</b></h4>
<p><em>Telefon: +49 173 83 11 4 33<br>E-Mail: florian@ernst-rethink.de</em></p>
<p><br></p>
<p></p><h4>Hinweise zur Website</h4>
<p></p><h4>Information gemäß § 36 VSBG</h4>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
</div>
