<div class="containerr flex flex-wrap h-full">

  <iframe src="https://koalendar.com/e/erstgesprach-koayvDmC?embed=true" width="100%" height="800px" frameborder="0"></iframe>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
  <%= link_to root_path do %>
      <button  type="button" class="slide">
        <i class="icon-arrow-left"></i>
      <div>Zurück</div>
      </button>
  <% end %>

</div>
