



<div class=container>
  <div class="square">
    <h1>ernst - <br><u>re:</u>think</h1>
    <h3>NEW WORK</h3>
    <h3>KULTURWANDEL</h3>
    <h3>PERSONALBINDUNG</h3>
  </div>
  <br><br>

  <div class=container>
    <h5>ernst - <br><u>re:</u>think</h5>
    <h6>FLORIAN ERNST</h6>
  </div>



  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr style="height:10px;border-width:0;background-color:#174aff;opacity:1">

  <div class="container1">
    <div class="item-0">
      <h4>New Work -<br> der Weg in eine <br>bessere Arbeitswelt</h4>
    </div>

  <div class="small_square">
    <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
    </div>
  </div>
</div>
