<div class="containerr mt-4">
	  <div class="item-0">
      <div class="logo-small">
        <h5>ernst - <u>re:</u>think</h5>
        <h6>FLORIAN ERNST</h6>
      </div>
    </div>

    <div class="item-1">
      <div class="navigation">
        <div id="start"></div>
        <a href="#angebot">Angebot</a>
        <a href="#übermich">Über mich</a>
        <a href="#erstgespräch">Erstgespräch</a>




        <%# <a href="#offer">offer</a> %>
        <%# <a href="#angebot">Angebot</a> %>
        <%# <a href="#about">Über</a> %>
      </div>
    </div>
  </div>
</div>

<div class="containerr mt-4">
  <div class="item-2">
    <h2>Holen Sie <br> das Beste aus <br> Ihren Teams <br></h2>
    <div class="box-1">
      <div class="btn btn-one">
        <span>ERSTGESPRÄCH</span>
      </div>
    </div>
  </div>

  <div class="item-3">
    <div class="logo-gross">
      <h1 class="boldtest"> ernst - <br><u>re:</u>think</h1>
      <h3>NEW WORK</h3>
      <h3>KULTURWANDEL</h3>
      <h3>PERSONALBINDUNG</h3>
    </div>
  </div>
</div>

<div id="angebot"></div>
<a href="#start">Start</a>

<div class="containerr mt-4 flexbox-with-border">
  <div class="item-0">

    <h4>New Work -<br> der Weg in eine <br>bessere Arbeitswelt</h4>
  </div>

  <div class="item-1">
    <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
  </div>
 </div>

<div id="übermich"></div>
<a href="#übermich">Start</a>

<div class="containerr mt-4 flexbox-with-border">
  <div class="item-0">

    <h4>New Work -<br> der Weg in eine <br>bessere Arbeitswelt</h4>
  </div>

  <div class="item-1">
    <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
  </div>
 </div>
<div id="erstgespräch"></div>


<%# <div id="offer"><a href="offer"></a></div> %>
<%# <div id="angebot"><a href="angebot"></a>Angebot</div>
<div id="about"><a href="about"></a>Über</div> %>
