<div class="square">
  <h1>ernst - <br><u>re:</u>think</h1>
  <h3>NEW WORK</h3>
  <h3>KULTURWANDEL</h3>
  <h3>PERSONALBINDUNG</h3>
</div>
<br><br>
<h5>ernst - <br><u>re:</u>think</h5>
<h5>Florian Ernst</h5>


<br><br><br><br><br><br><br><br><br><br><br>
<hr style="height:10px;border-width:10;color:#174aff">

<div class="left_small_square">
  <h4>New Work - <br> der Weg in eine bessere Arbeitswelt</h4>
</div>

<div class="small_square">
  <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
</div>
