<div class="container">
  <div class="header">
    <div class="logo">
      <p id="logo-florian"><b> ernst - <br> <u>re:</u>think </b><br>
      <div id="logo-ernst">FLORIAN ERNST</div></p>
    </div>

    <nav class="navi">
      <ul>
        <li class="border-right"><a href="#angebot">Angebot</a></li>
        <li class="border-none"><a href="#übermich">Über mich</a></li>
        <li class="border-around"><a href="#erstgespräch">Erstgespräch</a></li>
      </ul>
    </nav>
  </div>


  <div class="header">
    <div class="beste">
      <div class="sidebar logo-gross">
        <div class="text">
          <h1> <b> ernst - <br><u>re:</u>think</h1></b>
          <h3 id="text-up">NEW WORK<br>KULTURWANDEL<br>PERSONALBINDUNG</h3>
        </div>
      </div>

      <h2>Holen Sie <br> das Beste aus <br> Ihren Teams <br></h2>

      <div class="btn btn-one">
        <span>ERSTGESPRÄCH</span>
      </div>
    </div>
  </div>

  <h4 id="angebot"><b>Angebot</b></h4>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>New Work -</b><br> der Weg in eine <br>bessere Arbeitswelt</h4>
    </div>

    <div class="content-right">
      <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
    </div>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>Digitales Arbeiten -</b><br> Teamgefühl trotz <br>Distanz</h4>
    </div>

    <div class="content-right">
      <p>Digitales Arbeiten verändert Strukturen und die Art und Weise, wie wir miteinander arbeiten. Dabei ist es wichtig, dass jede:r Mitarbeiter:in gesehen wird. Beste Zusammenarbeit und Teamgefühl ist keine Frage der Distanz!</p>
    </div>
  </div>

  <div class="header-for-content with-border">
    <div class="item-left">
      <h4><b>Interkulturelles Managment -</b><br> Bedürfnisse (er)kennen und<br>berücksichtigen</h4>
    </div>

    <div class="content-right">
      <p>Vielfalt bringt viele Vorteile in ein Team. Welche Veränderungen müssen bedacht werden? welche Bedürfnisse müssen berücksichtigt werden und wie kann ein interkulturelles Team erfolgreich organisiert werden?</p>
    </div>
  </div>

<%#
  <div class="angebot">
    <div class="with-border">
      <h4>New Work -<br> der Weg in eine <br>bessere Arbeitswelt</h4>
      <p>New Work ist in aller Munde aber was bedeutet es für das Team? Welche Herausforderungen entehen und wie können diese überwunden werden?</p>
    </div>
  </div> %>

  <%# <div id="übermich"></div>
  <a href="#übermich">Start</a> %>
<%#
  <div class="item-0">
    <h4>New Work -<br> der Weg in eine <br>bessere Arbeitswelt</h4>
  </div> %>

</div>
