@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

h1, h3, h4, h5, p, a {
  font-family:'Raleway', sans-serif;;
  font-weight: normal;
}

h1,
h3 {
  color: #fffe9a;
}


a:link {
  text-decoration: none;
}

p,
h2,
h4,
h5,
h6 {
  color: #174aff;
}

.logo-gross {
  background-color: #174aff;
  width: 250px;
  height: 250px;

  }

.text {
text-align: left;
display: grid;
justify-content: center;
}

.border-right  {
  border-right: 2px solid #174aff;
  border-spacing: 5px;
  margin: 5px;
}

.border-none  {
  border-spacing: 5px;
  margin: 5px;
}

.border-around {
border: 2px solid #174aff;
border-spacing: 5px;
margin: 5px;
}

/* Logo ausblenden */
@media screen and (max-width: 600px) {
  .logo-gross, .btn {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


/* MOBILE FIRST DESIGN */
.header {
  margin-bottom: 2em;
}
.navi ul {
  list-style: none;
  padding: 0;
}
.navi a {
  display: block;
  padding: .4em;
  background-color: #174aff;
  color:#fffe9a;
}
#logo-ernst {
  font-size: .48em;
  margin-top: -9px;
  color:#174aff
  }

.btn {
  color: #fffe9a;
  background-color: #174aff;
  font-family:'Raleway', sans-serif;
  width: 150px;
  padding: 2vh;
  text-align: center;
}

.with-border {
  border-top: 4px solid #174aff;
}



/* Ansicht für Tablets */
@media screen and (min-width:38.75em) {
  .header {
    float: left;
    width: 100%;
  }
  .logo {
    float: left;
  }
  .navi {
    float: right;
    margin-right: 1em;
  }
  .navi li {
    float: left;
  }
  .navi a {
    display: block;
    color: #174aff;
    padding: .5em;
    background-color: white;
  }
  #logo-ernst {
    font-size: .48em;
    margin-top: -9px;
    color:#174aff
    }
}


/* Ansicht für Desktop-Monitore */
@media screen and (min-width:45em) {
  .container {
    background: white;
    max-width: 960px;
    margin: 2em auto;
  }
  .content {
    width: 62%;
    float: left;
  }
  .sidebar {
    float: right;
  }

  .navi a {
  background-color: white;
  }

.logo-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  }

#logo-ernst {
  font-size: .48em;
  margin-top: -9px;
  color:#174aff;
  /* width: 50%; */
  float: right;
  }



}
