@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Space Mono', monospace;
  font-weight: normal;
}

/*
.boldtest {
  font-weight: bold !important;
} */

/*
div {
  border: 0.3px solid red;
} */

h1,
h3 {
  color: #fffe9a;
}

a {
  border-right: 2px solid #174aff;
  border-spacing: 5px;
  margin: 5px;
}

a:link {
  text-decoration: none;
}

p,
h2,
h4,
h5,
h6 {
  color: #174aff;
}

.containerr {
	display: flex;
	justify-content: space-between;
}

.navigation {
  position: absolute;
  top: 50px;
}

.logo-small {
  height: 150px;
  width: 150px;
  text-align: start;
  float: left;
}

.logo-gross {
  height: 50vh;
  width: 50vh;
  background-color: #174aff;
  float: right;
  text-align: left;
  padding: 50px
  /* text-align: left; */
  }
/*
.flexbox-start {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 500px;
} */

.flexbox-with-border {
  border-top: 6px solid #174aff;
}

.item-0 {
  height: 150px;
  width: 300px;
  position: relative;
  float: right;
}

.item-1 {
  height: 150px;
  width: 300px;
  position: relative;
  float: left;
}

.item-2 {
  height: 311px;
  width: 350px;
  position: relative;
  float: right;
}

.item-3 {
  height: 350px;
  width: 350px;
  position: relative;
  float: left;
}

.btn {
  /* color: #174aff !important; */
  background-color: black;
  color: white;
  margin: 4vh;

}
